body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    height: 100%;
    overflow: hidden;
}


/*--- Full-Screen ---*/

.full-screen {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.flex-fill {
    flex: 1 1 auto;
}

.jumbotron {
    height: 65vh;
    background: rgba(204, 204, 204, 0.5);
}

.h10 {
    height: 10%;
}

.h15 {
    height: 15%;
}

.h20 {
    height: 20%;
}

.h25 {
    height: 25%;
}

.h30 {
    height: 30%;
}

.h50 {
    height: 50%;
}

.h60 {
    height: 60%;
}

.h70 {
    height: 70%;
}

.h75 {
    height: 75%;
}

.h80 {
    height: 80%;
}

.h85 {
    height: 85%;
}

.h90 {
    height: 90%;
}

.h100 {
    height: 100%;
}

.badge-pill {
    margin-right: 20px;
}

.jumbotron {
    padding-bottom: 0px;
    padding-top: 0px;
}

.full-height {
    min-height: 100%;
    overflow: hidden;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}


/*--- Player Site ---*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#spielerbutton .playerbtn {
    margin-top: 20px;
    height: 120px;
}


/*--- navigation bar ---*/

.navbar {
    background: #6ab446;
    height: 60px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}


/*--- Menu Page ---*/

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #6ab446;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}


/*--- General Settings ---*/

.menutitle {
    font-size: 5.5em;
}


/*--- buttons ---*/


/*
.btn {
    border: 1px;
    background: rgb(106, 180, 70);
    border-radius: 0!important;;
    color: #fff;
    box-shadow: none!important;
}

.playerbtn:focus {
    outline: 0!important;;
}

.playerbtn:hover {
    border: none!important;;
    background: rgb(106, 180, 70);
}

*/

.pointbtn {
    background: whitesmoke;
    color: black;
    font-size: 3em;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: all 0.1s ease 0s;
    -moz-transition-duration: all 0.1s ease 0s;
    -o-transition-duration: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

.btn-primary, 
.btn-primary:visited, 
.btn-primary:focus {          
    outline: none !important;
    box-shadow: none; 
}

.btn-primary.pointbtn:hover {
    outline: none !important;
    box-shadow: none;
    color: black; 
    background-color: whitesmoke !important;
    border-color: none !important;
    text-decoration: none;
}

.btn-primary.pointbtn[disabled]:hover {
    outline: none !important;
    box-shadow: none;
    color: whitesmoke; 
    background-color: #007bff !important;
    border-color: none !important;
    text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled).pointbtn:active,
.btn-primary:not(:disabled):not(.disabled)#zerobtn:active,
.btn-primary:not(:disabled):not(.disabled)#backbtn:active {
    color: whitesmoke;
    background-color: #007bff !important;;
    transition: 0s;
    border: 0px;
    outline: none !important;
    box-shadow: none; 
}

.backbtn {
    background: whitesmoke;
    color: black;
    font-size: 3em;
    width: 100%;
    height: 100%;
    transition: 0s 100ms;
}

#doublebtn,
#triplebtn,
#nextBtn {
    font-size: 3vw;
    width: 100%;
    height: 100%;
    transition: 0s 100ms;
}


#doublebtn {
    background: rgb(105, 184, 3);
    color: black;
}

#triplebtn {
    background: rgb(190, 63, 3);
    color: black;
}

.menuBtn {
    font-size: 1.5vw;
    width: 100%;
    height: 100%;
    transition: 0s 100ms;
}

.gameinfo{
    color: white;
    font-size:2vw; 
    margin: 0;
}

#punktzahl {
    color: white;
    font-size:7vw; 
    margin: 0; 
    line-height: 100%;
    text-shadow: 2px 2px 3px #000;
}

#scorelist .list-group-item {
    height: 100vh;
}

.scorebadge {
    height: 30px;
    width: 30px;
    vertical-align: middle !important;
    line-height: 1.5;
    font-size: 100%;
}

.bigBtn {
    height: 70px;
    width: 200px;
    font-weight: bold;
}

.gamemode {
    height: 80px;
    width: 200px;
}

.shotImg {
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: auto;
}

.footer {
    color: #DCDDDD;
    position: absolute;
    bottom: 0;
}